 body {
      font-family: Arial;
      text-align: center;
    }
    #map {
      width: 100%;
      height: 500px;
      margin-top: 10px;
    }
    input {
      padding: 8px;
      margin: 5px;
    }